<article>
    <section class="item__header">
        <h2 class="item__header__title"><%= product.title %></h2>
        <h3>
            <% if (product.discount != 0) { %>
                <span class="item__header__price-old"><%= product.price %></span>
                <span class="item__header__price-new"><%= product.price - product.price * product.discount / 100  %></span>
            <% } else { %>
                <span class="item__header__price-new"><%= product.price%></span>
            <% }  %>
        </h3>
    </section>
    <section class="item__body">
        <p class="item__header_description"><%= product.description %> </p>
    </section>
</article>